<div class="layui-row layui-col-space15">
    <div class="layui-col-xs12 layui-col-md9">
        <partial name="_HomeArticles" />
        <partial name="_Links" />
    </div>
    <div class="layui-col-xs12 layui-col-md3">
        <partial name="_Advertisement" model="EnumAdvertisementCodes.RightTop" />
        <partial name="_Search" />
        <partial name="_TopArticleList" />
        <partial name="_TagList" />
        <partial name="_CommentList" />
        <partial name="_Advertisement" model="EnumAdvertisementCodes.RightBottom" />
    </div>
</div>
