@{
    var query = ViewBag.Query as CategoryPagedQuery;
}
@section Scripts {
    <script src="~/js/jquery.delete.js" asp-append-version="true"></script>
    <script>
        $('.btn-delete').delete({
            path: '/manage/categories'
        });
    </script>
}
@model List<Category>
<div class="layui-card">
    <div class="layui-card-header">
        <span class="layui-breadcrumb">
            <a href="">控制台</a>
            <a href="">内容管理</a>
            <a><cite>分类</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <form class="layui-form layui-row layui-col-space16">
            <div class="layui-col-sm3">
                <input type="text" name="Name" placeholder="名称" class="layui-input" value="@query?.Name">
            </div>
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary" lay-submit><i class="layui-icon layui-icon-search"> 查询</i></button>
                <a href="/manage/categories/edit" class="layui-btn">添加</a>
            </div>
        </form>
        @if (Model != null && Model.Any())
        {
            <table class="layui-table" lay-even>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>名称</th>
                        <th>修改时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.LastModifiedAt.ToDateTimeString()</td>
                            <td>
                                <a href="/manage/categories/edit/@item.Id" class="layui-btn layui-btn-xs">编辑</a>
                                <a data-id="@item.Id" class="layui-btn layui-bg-red layui-btn-xs btn-delete">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_Pagination" />
        }
        else
        {
            <partial name="_None" />
        }
    </div>
</div>