<div class="layui-card">
    <div class="layui-card-body">
        <div class="search-container">
            <div>
                <input type="text" placeholder="文章标题" autocomplete="off" class="layui-input input-search">
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-primary layui-border-green btn-search">搜索</button>
            </div>
        </div>
    </div>
</div>