<div class="layui-card">
    <div class="layui-card-body">
        <div class="search-container">
            <div class="layui-input-group">
                <input type="text" placeholder="文章标题" autocomplete="off" class="layui-input input-search">
                <div class="layui-input-split layui-input-suffix btn-search" style="cursor: pointer;">
                    <i class="layui-icon layui-icon-search"></i>
                </div>
            </div>
        </div>
    </div>
</div>