@{
    var topArticles = ViewBag.TopArticles as List<Article>;
}
@if (topArticles != null && topArticles.Any())
{
    <div class="layui-card">
        <div class="layui-card-header"><i class="layui-icon layui-icon-release layui-font-green"> 推荐</i></div>
        <div class="layui-card-body">
            <div class="common-list">
                <ul>
                    @foreach (var item in topArticles)
                    {
                        <li>
                            <a href="/articles/@item.Id">@item.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}